@font-face {
  font-family: "Jost-Thin";
  src: url("/fonts/Jost/Jost-200-Thin.ttf");
}

@font-face {
  font-family: "Jost-Light";
  src: url("/fonts/Jost/Jost-300-Light.ttf");
}

@font-face {
  font-family: "Jost-Med";
  src: url("/fonts/Jost/Jost-500-Medium.ttf");
}

@font-face {
  font-family: "Jost-Semi";
  src: url("/fonts/Jost/Jost-600-Semi.ttf");
}

@font-face {
  font-family: "Jost-Bold";
  src: url("/fonts/Jost/Jost-700-Bold.ttf");
}

@font-face {
  font-family: "Chivo";
  src: url("/fonts/Chivo/Chivo-Thin.otf");
}
